################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EmphatyWave/FileContentIndex/924d17b0-cc1d-4994-807c-18162805f24a.vsidx
/.vs/EmphatyWave/FileContentIndex/6ecddbf2-65ab-43e2-9920-f760cf20b166.vsidx
/.vs/EmphatyWave/FileContentIndex/46d5ef16-823d-442c-879c-9db4c63d7d8d.vsidx
/.vs/EmphatyWave/FileContentIndex/f0246838-4315-4de2-91ed-1b45a89aafcc.vsidx
