################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EmphatyWave/FileContentIndex/924d17b0-cc1d-4994-807c-18162805f24a.vsidx
/.vs/EmphatyWave/FileContentIndex/6ecddbf2-65ab-43e2-9920-f760cf20b166.vsidx
/.vs/EmphatyWave/FileContentIndex/46d5ef16-823d-442c-879c-9db4c63d7d8d.vsidx
/.vs/EmphatyWave/FileContentIndex/f0246838-4315-4de2-91ed-1b45a89aafcc.vsidx
/.vs/EmphatyWave/FileContentIndex/2db3d1c6-9452-47f8-af8d-ea6f87dd7add.vsidx
/.vs/EmphatyWave/FileContentIndex/32b4e41e-21cb-47a5-889b-2f282d35f208.vsidx
/.vs/EmphatyWave/FileContentIndex/b221ab66-4e73-4e7b-b674-6f92a19a66c3.vsidx
/.vs/EmphatyWave/FileContentIndex/c6eabcff-b719-42c9-8f3b-c36f57721ba4.vsidx
/.vs/EmphatyWave/FileContentIndex/dd2d995c-740e-4ecb-9ac6-7d5d5b0abdd9.vsidx
/.vs/EmphatyWave/FileContentIndex/f7c6b095-202e-4b3d-a2a7-01f9315039a3.vsidx
