@page "/register"

<section class="p-3 p-md-4 p-xl-5">
    <div class="container">
        <div class="card border-light-subtle shadow-sm">
            <div class="row g-0">
                <div class="col-12 col-md-6 custom-bg">
                    <div class="d-flex align-items-center justify-content-center h-100">
                        <div class="col-10 col-xl-8 py-3">
                            <img class="img-fluid rounded mb-4" loading="lazy" src="logoo.png" width="245" height="80" alt="BootstrapBrain Logo">
                            <hr class="border-primary-subtle mb-4">
                            <h2 class="h1 mb-4" style="color:#fff!important">At Emphaty Wave, we create self-care experiences that resonate.</h2>
                            <p class="lead m-0">Our passion lies in creating innovative products that harness the power of local and endemic plants, designed to nurture and rejuvenate. Explore our range and discover the essence of natural care.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="card-body p-3 p-md-4 p-xl-5">
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-5">
                                    <h3>Log in</h3>
                                </div>
                            </div>
                        </div>
                        <form action="#!">
                            <div class="row gy-3 gy-md-4 overflow-hidden">
                                <div class="col-12">
                                    <label for="email" class="form-label">Email <span class="text-danger">*</span></label>
                                    <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com" required>
                                </div>
                                <div class="col-12">
                                    <label for="password" class="form-label">Password <span class="text-danger">*</span></label>
                                    <input type="password" class="form-control" name="password" id="password" value="" required>
                                </div>
                                <div class="col-12">
                                    <label for="password" class="form-label">Phone <span class="text-danger">*</span></label>
                                    <input type="password" class="form-control" name="password" id="password" value="" required>
                                </div>
                                <div class="col-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" name="remember_me" id="remember_me">
                                        <label class="form-check-label text-secondary" for="remember_me">
                                            Keep me logged in
                                        </label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="d-grid">
                                        <button class="btn bsb-btn-xl btn-primary-custom" type="submit">Log in now</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-12">
                                <p class="mt-2 mb-2">Or sign in with</p>
                                <div class="d-grid mt-1">
                                    <a href="#!" class="btn bsb-btn-xl a-cust btn-outline-primary-custom">
                                        <svg xmlns="http://www.w3.org/2000/svg" style="color:#fff!important" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                                            <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z" />
                                        </svg>
                                        <span class="ms-2 fs-6" style="color:#fff!important">Google</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <hr class="mt-5 mb-4 border-secondary-subtle">
                                <div class="d-flex gap-2 gap-md-4 flex-column flex-md-row justify-content-md-end">
                                    <a href="#!" class="link-secondary text-decoration-none a-cust">Create new account</a>
                                    <a href="#!" class="link-secondary text-decoration-none a-cust">Forgot password</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<style>
    body {
        background-color: #ffe6f0;
        font-family: 'Arial', sans-serif;
    }

    .card {
        background-color: #ffccdd;
        border: 1px solid #ff99bb;
    }

    .custom-bg {
        background-color: #ff99bb;
    }

    .text-bg-primary {
        background-color: #ff99bb;
        color: #fff;
    }

    h2, h3, h1 {
        color: #fff;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    p, label, .link-secondary {
        color: #f3f3f3;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    hr {
        border-color: #ff66a3;
    }

    .btn-primary-custom, .btn-outline-primary-custom {
        background-color: #ff6699;
        border-color: #FF1493;
        color: #fff;
    }

        .btn-primary-custom:hover, .btn-outline-primary-custom:hover {
            background-color: #FF1493;
            border-color: #cc0052;
            color: #fff;
        }

    .form-control {
        background-color: #ffe6f0;
        border-color: #ff99bb;
        color: #cc0052;
    }

        .form-control:focus {
            border-color: #FF1493;
            box-shadow: 0 0 0 0.2rem rgba(255, 0, 102, 0.25);
        }

    .form-check-input:checked {
        background-color: #ff0066;
        border-color: #ff0066;
    }

    .form-check-label {
        color: #cc0052;
    }

    .link-secondary:hover {
        color: #ff0066;
    }

    .a-cust {
        color: #ff6699;
    }

        .a-cust:hover {
            color: #ff0066;
        }

</style>